body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #ffffff;
}

header {
    background-color: #1f2833;
    height: 10vh;
    display: grid;
}

header nav {
    justify-self: center;
    align-self: center;
}

header a {
    color: #c5c6c7;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;

    margin: 0 50px;
}

@media (max-width: 1600px) {
    header a {
        font-size: 20px;
    }
}

header a:hover {
    color: #ffffff;
}


.skrift {
    margin: 0 20vw;
}

.skrift img {
    max-width: 100%;
    height: auto;
}
